<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin chi tiết đơn hàng</h3>
    </div>
    <div class="panel-body">
        <table class="table border table-hover">
            <thead>
                <tr>
                    <th>Trang</th>
                    <th>Tên Trang</th>
                    <th>Số lượng</th>
                    <th>Hình ảnh</th>
                    <th>Xử lý</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>dsa</th>
                    <th>dsa</th>
                    <th>dsa</th>
                    <th> ds</th>
                    <th class="btn btn-primary" >Xem chi tiết đơn hàng</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>