.header {
    display: flex;
    flex-direction: row;
    position: fixed ;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 0px;
    left: 5vw;
    width: 95vw;
    height: 10vh;
    box-sizing: border-box;
    background-color: rgb(126, 126, 226);
    font-size: 1.5vw;
    color: white;
    box-sizing: border-box;
    z-index: 1;
}
.itemHeader {
    cursor: pointer;
}
