<div class="content">
  <form #form ="ngForm">
    <div class="form-group">
      <label>Current Password</label>
      <input type="password" class="form-control" name="currentPassword" [(ngModel)]="passWordItem.currentPassword" required>
    </div>
    <div class="form-group">
      <label>New Password</label>
      <input type="password" class="form-control" name="newPassword" [(ngModel)]="passWordItem.newPassword" required>
    </div>
    <div class="form-group">
      <label>RePassword</label>
      <input type="password" class="form-control" name="rePassword" [(ngModel)]="passWordItem.rePassword" required>
    </div>
    <button class="btn btn-primary" type="submit" (click)="onChangePassword()">Save</button>
    <button class="btn btn-danger">Close</button>
  </form>
</div>
