<div class="layoutMenu">
    <ul>
        <li>
            <a href="#"><img src="https://etop.vn/assets/images/icon_product.png" class="menuicon"></a>
        </li>
        <li>
            <a href="#"><img src="https://etop.vn/assets/images/icon_product.png" class="menuicon"></a>
        </li>
        <li>
            <a href="#"><img src="https://etop.vn/assets/images/icon_product.png" class="menuicon"></a>
        </li>
        <li>
            <a href="#"><img src="https://etop.vn/assets/images/icon_product.png" class="menuicon"></a>
        </li>
        <li>
            <a href="#"><img src="https://etop.vn/assets/images/icon_product.png" class="menuicon"></a>
        </li>
        <li>
            <a href="#"><img src="https://etop.vn/assets/images/icon_product.png" class="menuicon"></a>
        </li>
    </ul>
</div>