<app-left-menu></app-left-menu>
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark h-100">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/user/orderList']" class="nav-link">Xem Danh sách đơn hàng <span
              class="sr-only"></span></a>
        </li>
        <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-item">
          <a [routerLink]="['/user/createOrder']" class="nav-link">Tạo Đơn hàng</a>
        </li>
        <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-item">
          <a [routerLink]="['/user/changePasswordUser']" class="nav-link">Đổi mật khẩu</a>
        </li>
        <li class="nav-item" *ngIf="this.role==='admin'">
          <a class="nav-link" [routerLink]="['/admin']">Go to Admin Page</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
