* {
    padding: 0px;
    margin: 0px;
}

.vertical-menu {
    width: 4vw;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #e8de7d;
    height: 100vh;
    z-index: 2;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding-left: 4vw;
   
}
.header nav.navbar {
    background-color: #26b5da;
}

.content {
    padding-top: 10vh;
    padding-left: 4vw;
    background-color: #ecebeaba;
    width: 100vw;
    height: 100vh;
}

.vertical-menu ul {
    list-style: none;
    height: 100%;
}
.vertical-menu ul li{
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}
.vertical-menu a{
    border-bottom: 1px solid black;
    display: inline-block;
}

.vertical-menu img {
    width: 100%;
    height: 100%;
}